.marketplace-listings-container {
    margin-left: 0px;   /* Drawer gets closed and docked on small screen */
}

.marketplace-title {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 2%;
}

/*
FOR MEDIUM TO BIG SCREEN
*/
@media only screen and (min-width: 769px) {
   .marketplace-listings-container {
       margin-left: 300px;  /* Drawer is always open on medium to big screen*/
   }    
}